.container__post {
  margin-top: 20px;
  padding: 10px;
  background-color: #deb841;
  border-radius: 12px;
  display: flex;
  gap: 10px;
  align-items: center;
}

.username {
  color: #37323e;
  text-decoration: underline;
  font-weight: 700;
  font-size: 20px;
}

img {
  border-radius: 12px;
}
