{% extends "base.html" %} {% block content %}
<div>
  Microblog:
  <a href="{{ url_for('index.index') }}">Home</a>
  {% if current_user.is_anonymous %}
  <a href="{{ url_for('auth.login') }}">Login</a>
  {% else %}
  <a href="{{ url_for('auth.logout') }}">Logout</a>
  {% endif %}
</div>
<h1>Bienvenido! {{ posts_by_current_user }}</h1>
<h3>
  Hola, <a href="{{ url_for('index.profile') }}">{{ current_user.username }}!</a> -
  <a href="{{ url_for('post.post') }}">crea un nuevo post</a>
</h3>

<div class="container">
  {% for post in posts %}
  <a href="{{ url_for('post.post_detail', id=post.id) }}">
    <div class="container__post">
      <div class="post__image">
        <img
          src="https://secure.gravatar.com/avatar/{{ current_user.username }}?d=identicon"
          alt=""
        />
      </div>
      <div class="post__body">
        <p class="username">{{ post.author.username }}</p>
        <p class="body">{{ post.body }}</p>
      </div>
    </div>
  </a>
  {% endfor %}
</div>

{% endblock %}
